@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,500&display=swap');

* {
  margin: 0;
}

.App {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  background: #f8f8f8;
  background-image: url('./img/ServiceEssentialsBG.png');
  background-size: contain;
  background-position: center;
}
